.aceite {
    background-color: rgb(199, 190, 190);
    margin: 0;
    padding-bottom: .25rem;

        &Seccion {
            display: flex;
            gap: 50px;
            padding-top: 1rem;

                &Img{
                    width: 40%;
                }
        }
}