.headerMenu{
    width: 40%;

    &:hover {
        width: 50%;
    }
    img {
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
    }

    li {
        display: inline-block;
        color: white;
    
        a {
            color: white;
        }

    }
}