
.header {
    height: 140px;
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(199, 190, 190);
    background: radial-gradient(circle, rgba(61,51,51,1) 0%, rgba(168,168,168,1) 50%, rgba(57,42,42,1) 100%);
        &Logo {
            display:flex;
            align-self: center;
        }
}

.logoImg {
    width: 80px;
}
.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    transition: font-size .3s ease;

        &:hover {
            font-size: 26px;
        }
}
.imagenConocenos {
    width: 250px;
}
.menuTitulo {
   @extend titulo;

        &:hover {
            font-size: 26px;
        }
}

.tituloCannabis {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    padding-top: 4px;
}

.menuCannabis {
    display: flex;
    flex-direction: column;
    align-items: center;

        
    &Img {
        width: 80%;
        display: block;
        margin: auto;
    }
}

.titulo {
    @extend .menuTitulo;
}