<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="El Cannabis Medicinal refiere al uso de marihuana para tratar ciertas afecciones, ya sea como aceite, cremas, etc.">
    <meta name="keywords"  content="cannabis, cannabis medicinal, aceite medicinal, enfermedades tratadas con cannabis, patologias cannabis, usos del cannabis como medicina, beneficios del aceite, variedades de cannabis">
    <link rel="shorcut icon" href="../Imagenes/logo3.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/stylos.css">
    <link rel="stylesheet" href="..assets/estilosSCSS.css">
    <title>Cannabis | Medicinal</title>
</head>

<body>
    <header class="header">
        <!-- SECCION CANNABIS MEDICINAL -->
        <div class="headerLogo">
            <a href="../index.html">
                <img class="logoImg" src="../Imagenes/logo3.png" alt="logoCannabis">
            </a>
        </div>
        <nav class="nav">
            <ul class="navMenu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="cannabisMedicinal.html">Cannabis Medicinal</a></li>
                <li><a href="variedades.html">Variedades</a></li>
                <li><a href="sobreNosotros.html">Sobre Nosotros</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <!-- SECCION USO MEDICINAL -->
        <aside>
            <h1 class="menuTitulo">Uso medicinal del cannabis: ¿qué es y para qué sirve?</h1>
            <p>El aceite cannabico medicinal separa el cannabidiol (CBD) de la flor de la planta de marihuana del THC,
                que es el componente psicoactivo. La fundación Canna (España) detalla que el CBD se puede usar en
                diversos preparados como: analgésico, anti-inflamatorio, protector y reparador del tejido nervioso, anti
                convulsivante, relajante muscular, antitumoral, anti náusea y anti vomitivo, antiespasmódico,
                estimulante del apetito, ansiolítico y antipsicótico, inductor del sueño, regulador de la inmunidad,
                antioxidante y como preventivo de la recaída y del síndrome de abstinencia. <br>
                En nuestro país la reglamentación actual de la ley solo autoriza el uso de aceite cannábico de grado
                médico a pacientes con epilepsia refractaria. Para acceder en forma gratuita los pacientes deben estar
                inscriptos en el Registro Nacional de Pacientes en Tratamiento con Cannabis (RECANN). Esta limitación y
                el costo de aceites importados por falta de producción local empuja a familias con usuarios
                terapéuticos, de esa y otras patologías, a mantener el cultivo ilegal para hacerse de aceite para sus
                hijos.</p>
            <img class="cannabis" src="../Imagenes/cannabis-medicinal.jpg" alt="cannabisMedicinal">
        </aside>
    </section>

    <section>
        <!-- SECCION CANNABIS EN ARGENTINA -->
        <h2 class="subTitulo">Cannabis Medicinal en Argentina</h2>
        <p>En Marzo de 2017 se aprobó la ley 27.350, autorizando la utilización de cannabis medicinal, de la planta y
            sus derivados. <br></p>
        <p>Esta ley regula la investigación médica y científica del uso medicinal de esta planta, creando el Programa
            Nacional para el Estudio y la Investigación del Uso Medicinal de la Planta de Cannabis.</p>
        <h4>Objetivos de la ley</h4>
        <ul>
            <li>Promover medidas de concientización para la población en general.</li>
            <li>Establecer guías de asistencia, tratamiento y accesibilidad.</li>
            <li>Investigar fines terapéuticos y científicos de la planta y sus derivados.</li>
            <li>Conocer efectos secundarios del uso medicinal, estableciendo limitaciónes para su uso.</li>
            <li>Brindar asesoramiento, cobertura y seguimiento del tratamiento a los pacientes participantes del
                programa.</li>
        </ul>
        <p>Posteriormente a la ley, dan marco legal al cannabis medicinal en el país. <br>
            En Argentina, existen organizaciones no gubernamentales que, bajo el amparo de la legislación, investigan
            condiciones médicas en las que se han detectado beneficios con el uso del cannabis medicinal.</p>
    </section>
    <footer>
        <div class="tituloFooter">
            <h2 class="subTitulo">Contacta con nosotros</h2>
        </div>
        <div class="redesSociales">
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-facebook"></i>
        </div>
        <div class="contenedor">
            <p class="textoFooter"> © 2021 Venzi Geronimo / Todos los derechos son reservados.</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/e13cb5b016.js" crossorigin="anonymous"></script>
</body>

</html>